accelerate
codetiming
datasets
decord
liger-kernel
mathruler
omegaconf
pandas
peft
pillow
pyarrow>=15.0.0
pylatexenc
qwen-vl-utils==0.0.10
ray[default]
tensordict
torchdata
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
transformers[hf_xet]>=4.51.0
vllm==0.8.3
wandb
deepspeed==0.16.4
bitsandbytes==0.43.1
trl==0.16.0
hf-transfer
numpy<2.0.0
hydra-core
pytest
yapf
py-spy
pre-commit
ruff
nvidia-ml-py>=12.560.30
fastapi[standard]>=0.115.0
optree>=0.13.0
pydantic>=2.9
grpcio>=1.62.1
jsonlines